.bg-light{
    transition: 0.3s;
    box-shadow: 5px 5px 15px #D1D9E6,
    -5px -5px 15px #ffffff;;
}

.navbar {
    position: fixed;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem 0;
    top: 0;
    width: 100%;
    z-index: 999;

    .nav-item {
        display: flex;
        font-size: 12px;
        color: #3c3e41;
        letter-spacing: 1.5px;

        .nav-link {
            margin: 0 1.5rem;
        }
    }

    .nav-icons,
    .nav-close {
        display: none;
        cursor: pointer;
    }
}

@media(max-width:769px) {
    .navbar {

        .nav-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: #fff;
            visibility: hidden;
            padding-top: 70px;
            color: #d91738;
            transform: translateY(-50vh);
            transition: 0.4s ease-in-out;
            flex-direction: column;

            .nav-link {
                margin: .5rem 0;

                &::before {
                    content: "-> ";
                }
            }
        }

        .nav-close {
            position: absolute;
            transform: translateY(-50vh);
            display: block;
            visibility: hidden;
            font-size: 22px;
            top: 20px;
            right: 15px;
            color: #d91738;
        }

        .nav-icons {
            display: block;
            font-size: 26px;
            color: #d91738;
        }

        .responsive-nav {
            height: 100%;

            .nav-item,
            .nav-close {
                transform: translateY(0);
                visibility: visible;
            }
        }
    }
}

.nav-close {
    background: 5px 5px 15px #D1D9E6,
        -5px -5px 15px #ffffff;
    box-shadow: 5px 5px 15px #D1D9E6,
        -5px -5px 15px #ffffff;
    padding: .5rem .8rem;
    border-radius: 50px;
}

// 10px 10px 19px rgb(0 0 0 / 10%)